.FlexboxLayout {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  height: calc(100% - var(--toolbar-height));
  width: 100%;
  position: relative;
  overflow: hidden;
}

.sidepanel {
  max-width: 100%;
  overflow-x: scroll;
  transition: var(--sidepanel-transition);
}

.sidepanelHidden {
  display: none;
}

.from-left {
  border-right: var(--ui-border-thickness) solid var(--ui-border-color);
  margin-left: calc(var(--left-sidepanel-menu-width) * -10);
  width: 100%;
}

.from-right {
  border-left: var(--ui-border-thickness) solid var(--ui-border-color);
  margin-right: calc(var(--right-sidepanel-menu-width) * -1);
  max-width: var(--right-sidepanel-menu-width);
}

.sidepanel.is-open {
  margin-right: 0;
  margin-left: 0;
}

.main-content {
  flex: 1;
  height: 100%;
  overflow: hidden;
  transition: var(--sidepanel-transition);
  width: 100%;
}

.toolbarDiv {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  /* Account for "Investigational Use" banner height */
  .FlexboxLayout {
    height: calc(100% - var(--toolbar-height));
  }
}
