.ToolbarRow {
  border-bottom: var(--ui-border-thickness) solid var(--ui-border-color);
  flex: 0 0 auto;
  /* height: var(--toolbar-height); */
  height: 60px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  bottom: 0;
  transition: height 300ms ease;
  width: 100%;
  display: flex;
  overflow-y: auto;
  overflow-x: auto;
  align-items: center;
  justify-content: space-between !important;
  background-color: white;
}

ToolbarRow.expanded {
  height: calc(var(--toolbar-height) + var(--toolbar-drawer-height));
}
